@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


*,
html,
body {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #fdfdfd;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* You can add global styles to this file, and also import other style files */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  h1 {
    color: blue
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    color: greenyellow
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    color: purple
  }
}

@media only screen and (min-width: 992px) and (max-width: 1999px) {
  h1 {
    color: pink
  }
}
