<!-- Menu -->
<ul class="d-flex flex-column p-3">
  <!-- Categories -->
  <li *ngFor="let category of utilityService.sortByKey(restaurant.categories, 'order')" class="pt-3 pb-3">
    <h4>{{startCase(category.name)}}</h4>
    <div
      *ngFor="let selection of utilityService.sortByKey(restaurant.groupedMenu[category.name], 'order'); let i = index">
      <!-- Options -->
      <div (click)="loadCustomization(category.name, selection._id)" class=" d-flex justify-content-between pt-3 pb-3">
        <div class="">
          <h6 class="mb-0">{{startCase(selection.name)}}</h6>
          <div class="text-secondary">{{selection.description}}</div>
          <div class="pt-1">{{selection.price | currency}}</div>
        </div>
        <div *ngIf="selection.image" class="" style="width: 96px; height: 88px;">
          <img src="../../../assets/burg.png" style="height:88px;">
        </div>
      </div>
      <hr class="m-0" height="1px">
    </div>
  </li>
</ul>

<!-- View ongoing order -->
<div *ngIf="(checkout | async).selections.length > 0" class="d-flex w-100 sticky"
  style="justify-content: center; background-color: white; padding: 12px 16px; ">
  <button (click)="loadCheckout()" class="d-flex justify-content-between" style="background-color: #007bff; border-color: #007bff; flex: 0 0 100%; max-width: 100%; padding: 8px 16px 7px;
    color:white">
    <div>{{utilityService.reduceSelectionKey(checkout | async, 'quantity')}}</div>
    <div>View Order</div>
    <div>{{utilityService.reduceSelectionKey(checkout | async, 'price') | currency}}</div>
  </button>
</div>
