li.side:last-child {
  padding-bottom: 0px !important;
}

ul {
  padding: 0;
  margin: 0;
}

.name {
  letter-spacing: 0.01em;
}

.quantity-selection-row {
  align-items: center;
}

.img {
  object-fit: cover;
  height: 60vw;
}

.line {
  height: 1px;
  width: 100%;
  background: gray;
  align-self: center;
  margin-top: 2px;
}

.border-bottom {
  border-bottom-color: #F5F5F5;
}

.selection-container {
  box-shadow: 0 0 0 1px rgba(67, 41, 163, .12),
    0 1px 12px 0 rgba(67, 41, 163, .12);
  padding-bottom: 2.0rem;
  background-color: #fdfdfd;
}

.add-selection-btn {
  flex: 0 0 100%;
  background-color: #0070eb;
  border-color: #0066d6;
  padding: 8px 16px 7px;
}

.selection {
  height: calc(100vh - 200px) !important; // todo: revisit this. Bill says don't need to use calc
}

.add-quantity-text {
  flex: 1;
}

.btn[disabled] {
  background-color: #d4d4db;
  border-color: #d4d4db;
}
