<!-- todo: this may need to be a modal -->
<div class="selection pt-3 pl-3 pr-3 pb-4 overflow-auto">
  <img *ngIf="selection?.image" class="img w-100" src=" ../../../assets/burg.png">
  <h4 class="name">{{selection.name}}</h4>
  <div class="description mt-3">{{selection.description}}</div>

  <div class="quantity-selection-row d-flex mt-3 mb-3">
    <h6 class="mt-3 mr-2">Quantity</h6>
    <button (click)="updateQuantity('decrement')" class="mr-2">-</button>
    <div>1</div>
    <button (click)="updateQuantity('increment')" class="ml-2">+</button>
  </div>

  <!-- C-C-C-Combo Sides -->
  <div class="d-flex flex-column">
    <h6 class="text-nowrap mb-0 font-weight-bold pl-0 my-2">
      Select a Side:
    </h6>
    <!-- <div class="line ml-1" style="order: 2;"></div> -->
    <ul class="d-flex flex-column justify-content-between">
      <li *ngFor="let side of selection.comboSelections.sides; let i = index" class="w-100">
        <div class="d-flex pl-0 align-content-start">
          <div class="pt-3 pb-3 mr-2 custom-control custom-radio">
            <input type="radio" id="side-option-{{i}}" name="side-option" class="custom-control-input">
            <label class="custom-control-label" for="side-option-{{i}}"><span>{{side.name}}</span></label>
          </div>
        </div>
      </li>
    </ul>

  </div>

  <!-- Side Drinks  THIS IS ALL OVERFLOW CONTENT -->
  <div class="d-flex flex-column">
    <h6 class="text-nowrap mb-0 font-weight-bold pl-0 my-2">
      Select a Drink:
    </h6>
  </div>
  <ul class="d-flex flex-column">
    <li *ngFor="let side of selection.comboSelections.drinks; let i = index" class="pb-2">
      <div class="d-flex pl-0 align-content-start">
        <div class="pt-3 pb-3 mr-2 custom-control custom-radio">
          <input class="custom-control-input" type="radio" id="side-drink-{{i}}" name="side-drink">
          <label class="custom-control-label"><span>{{side.name}}</span></label>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- Add to Order -->
<!-- <app-view-cart-button></app-view-cart-button> -->


<!-- <app-customization [options]="selection.customization"></app-customization> -->