<!-- Banner -->
<!-- todo: sticky-top should only apply on mobile per Material Design -->
<section class="container-fluid banner-container px-0 sticky-top">
  <div class="banner-logo-position">
    <img class="banner-logo-img" alt="Responsive image" src="../../../assets/HeaderLogo.png">
  </div>
  <small class="banner-text">
    This is where the address text will go
    <div class="text-center">Phone number here</div>
  </small>
  <small class="banner-text shopping-cart">Shopping Cart</small>
</section>
