// Default - Portrait Mobile

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #221E1F;
  height: 75px;
}

.banner-logo-position {
  position: relative;
}

.banner-logo-img {
  height: 75px;
  padding-left: 8px;
}

.banner-text {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}

.shopping-cart {
  padding-right: 20px;
}

// Landscape Mobile
@media (min-width: 576px) {}

// Tablets
@media (min-width: 768px) {}

// Desktop
@media (min-width: 992px) {}

// Large Desktop
@media (min-width: 1200px) {}
