.sticky {
  position: fixed;
  bottom: 0;
  left: 0;
}

.numberSquare {
  border: 1px solid #665;
  width: 6vw;
  height: 7vw;
  text-align: center;
  font-size: 1.1rem;
}

.backgroundGray {
  background-color: #e0e0e0;
}

.border-bottom {
  border-bottom-color: #F5F5F5;
}

li.selection:first-child {
  border-top: 1px solid #c9c9c9 !important;
}

li.selection:last-child {
  border-bottom: 1px solid #c9c9c9 !important;
}
