.numberSquare {
  border: 1px solid #665;
  color: #665;
  width: 6vw;
  height: 7vw;
  text-align: center;
  font-size: 1.1rem;
}

.tealText {
  color: #62ACB5;
}

.backgroundGray {
  background-color: #e0e0e0;
}

.border-bottom {
  border-bottom-color: #F5F5F5;
}
