<div class="px-3 py-4">
  <div class="d-flex">
    <h3 class="">Your Order</h3>
    <h6 class="align-self-end ml-auto tealText">Add Items</h6>
  </div>

  <hr class="backgroundGray mb-0">

  <ul>
    <li *ngFor="let selection of (checkout | async).selections; let i = index" class="border-bottom py-3">
      <!-- Selection -->
      <div class="row">
        <div class="col-1 mr-1">
          <span class="tealText font-weight-bolder numberSquare px-2">{{selection.quantity}}</span>
        </div>
        <span class="col-7 ml-2 text-nowrap">
          {{selection.name}}
        </span>
        <span class="col text-right">{{selection.price | currency}}</span>
      </div>
      <!-- Sides -->
      <ul>
        <li *ngFor="let side of getSideList(selection)">
          <div class="row">
            <div class="col-1 mr-1"></div>
            <span class="col ml-2 text-nowrap">{{side.name}}</span>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
